body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #545454 !important;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    position:fixed;
    width:100%
}
.card{
    text-align: center;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 60vw;
}
#mobileContainer18 {
    display: flex;
    width: 1%;
    flex-wrap:wrap;
    justify-content: center;
    margin: 0 auto;
}
#Container18{
    display: flex;
    width: 1%;
    flex-wrap:wrap;
    justify-content: center;
    margin: 0 auto;
}
#Container15{
    display: flex;
    width: 1%;
    flex-wrap:wrap;
    justify-content:center;
    margin: 0 auto;
}
#mobileContainer15{
    display: flex;
    width: 1%;
    flex-wrap:wrap;
    justify-content: center;
    margin: 0 auto;
}
h1 {
    color: #000000;
}

h2,
p {
    color: #000000;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
}
#thing {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0
}
.source-btn {
    background-color: #333333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
}

.dsc-btn {
    background-color: #9656ce;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
}

.clr-btn {
    background-color: #ff3c00;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
}

button:hover {
    background-color: #45a049;
}

.source-btn:hover {
    background-color: #000000;
}

.dsc-btn:hover {
    background-color: #5b209a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.filter-button > button {
    min-width: 200px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-btn:hover .dropdown-content {
    display: block;
}

.pick-client {
    color: #000000;
}

.line {
    width: 50%;
    border-top: 1px solid #888;
    margin: 10px auto;
}

.version-text {
    margin: 10px 0;
    color: #000000;
}
.version-link {
    display: block ruby;
}
.footer {
    margin-top: auto;
    background-color: #373737;
    color: #a6a6a6;
    padding-top: 20px;
    width: 100%;
    top:80%;
    position:fixed;
    height:20%;
    display:flex;
    flex-wrap:wrap;
    flex-flow:wrap-reverse;
    align-items: center;
}
#footerButtons a {
    font-size:12px;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /*bro i hate working with this footer like i swear this css has commander games page level stability
    /* margin: 10px auto; */
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
    background-color:#d9d9d9 !important;
    color:#000000 !important;
    height:15px;
    padding: 10px 20px;
    margin:10px;
}
.recommended {
    vertical-align: middle;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#ffffff;
}
#footerButtons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    width:100%;
    height:15px;
}
#footerText {
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 5px;
    color: #a6a6a6 !important;
}
#footerText > p {
    margin:0;
}
/* flexbox will solve all problems guys trust */
#gamescontainer {
    border-radius: 20px;
    height: 33%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 2ch;
    row-gap: 2ch;
    margin-top: 20px;
}
#stupid {
    color: black;
    background-color: #a6a6a6;
    height: 20px;
    border-radius: 53px;
    z-index: 2;
    padding: 0px 20px;
}
#stupidbackgroundbox {
    color: black;
    background-color: #a6a6a6;
    z-index: -1;
    height:10px;
    border-radius: 53px;
}
#stupidcontainer{
    display: flex;
    flex-direction: row;
    height: 10px;
    border-radius: 53px;
}
#dumb {
    color: black;
    background-color: #d9d9d9;
    z-index: 0;
    height:20px;
    border-radius: 53px;
    padding: 0px 20px;
}
#dumbBackgroundbox {
    color: #d9d9d9;
    z-index: 1;
    height:10px;
    border-radius: 53px;
}
#dumbcontainer {
    display:flex;
    flex-direction: row;
    height:10px;
}
#versionSelector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* dont make this 10px or under, then it squishes the text inside*/
    height:30px;
    width:100%;
    justify-content: center;
}
#containerHell {
    width: 151px;
    justify-content: center;
}
#sped{
    /* have to do this stupid important thing to override the colors set on the button element */
    color: transparent !important;
    background-color: transparent !important;
    display:flex;
    height: 36px;
    width: 30px;
    position:fixed;
}
button:hover{
    color: transparent !important;
    background-color: transparent !important;
}
#containerhell{
    display: flex;
    flex-direction: row;
}